.phone {

    position: relative;

    &_vertical {
        @include media-min(1021px) {
            width: 240px;
            height: 483px;   
        }

        @include media-max(1020px) {
            width: 181px;
            height: 364px;
        }

        @include media-max(767px) {
            width: 88px;
            height: 178px;
        }

        &_slide2 {

            &::before, &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;

                @include media-min(1021px) {
                    width: 156px;
                    height: 314px;
                    background-image: url('./assets/images/slider/1020px/small_phone.png');
                }

                @include media-max(1020px) {
                    width: 117px;
                    height: 236px;
                    background-image: url('./assets/images/slider/768px/small_phone.png');
                }

                @include media-max(767px) {
                    width: 58px;
                    height: 116px;
                    background-image: url('./assets/images/slider/375px/small_phone.png');
                }
            }

            &::before {
                transform: translate(-100%, -50%);
                left: 16px;

                @include media-max(1020px) {
                    left: 12px;
                }

                @include media-max(767px) {
                    left: 6px;
                }
            }
            &::after {
                transform: translate(100%, -50%);
                right: 25px;

                @include media-max(1020px) {
                    right: 19px;
                }

                @include media-max(767px) {
                    right: 8px;
                }
            }
        }
    }

    &_horizontal {
        @include media-min(1021px) {
            width: 483px;
            height: 240px;
            margin-top: -2px;   
        }

        @include media-max(1020px) {
            width: 364px;
            height: 181px;
        }

        @include media-max(767px) {
            width: 178px;
            height: 88px;
        }
    }

    &__picture {

        position: absolute;
        top: 0;
        left: 0;

        &_vertical {
            @include media-min(1021px) {
                width: 216px;
                height: 458px;
                background-image: url('./assets/images/slider/1020px/phone_vertical.png');
            }

            @include media-max(1020px) {
                width: 162px;
                height: 344px;
                background-image: url('./assets/images/slider/768px/phone_vertical.png');
            }

            @include media-max(767px) {
                width: 80px;
                height: 168px;
                background-image: url('./assets/images/slider/375px/phone_vertical.png');
            }
        }

        &_horizontal {
            @include media-min(1021px) {
                width: 458px;
                height: 216px;
                background-image: url('./assets/images/slider/1020px/phone_horizontal.png');
            }

            @include media-max(1020px) {
                width: 344px;
                height: 162px;
                background-image: url('./assets/images/slider/768px/phone_horizontal.png');
            }

            @include media-max(767px) {
                width: 168px;
                height: 80px;
                background-image: url('./assets/images/slider/375px/phone_horizontal.png');
            }
        }
    }

    &__display {
        position: absolute;
        top: 0;
        left: 0;

        &_vertical {
            @include media-min(1021px) {
                width: 188px;
                height: 333px;
                top: 65px;
                left: 14.5px;
            }

            @include media-max(1020px) {
                width: 141px;
                height: 251px;
                top: 49px;
                left: 11px;
            }

            @include media-max(767px) {
                width: 68px;
                height: 122px;
                top: 25px;
                left: 6px;
            }
            
            &_slide1 {
                @include media-min(1021px) {
                    background-image: url('./assets/images/slider/1020px/phone_vertical_display_slide1.jpg');
                }

                @include media-max(1020px) {
                    background-image: url('./assets/images/slider/768px/phone_vertical_display_slide1.jpg');
                    background-position: -1px -1px;
                }

                @include media-max(767px) {
                    background-image: url('./assets/images/slider/375px/phone_vertical_display_slide1.jpg');
                }
            }

            &_slide2 {
                @include media-min(1021px) {
                    background-image: url('./assets/images/slider/1020px/phone_vertical_display_slide2.jpg');
                    left: 13px;
                }

                @include media-max(1020px) {
                    background-image: url('./assets/images/slider/768px/phone_vertical_display_slide2.jpg');
                    left: 11px;
                }

                @include media-max(767px) {
                    background-image: url('./assets/images/slider/375px/phone_vertical_display_slide2.jpg');
                    left: 6px;
                }
            }

            &_off {
                display: none;
            }
        }

        &_horizontal {
            @include media-min(1021px) {
                width: 333px;
                height: 188px;
                top: 14px;
                left: 60px;
                background-image: url('./assets/images/slider/1020px/phone_horizontal_display.jpg');
            }

            @include media-max(1020px) {
                width: 251px;
                height: 141px;
                top: 11px;
                left: 45px;
                background-image: url('./assets/images/slider/768px/phone_horizontal_display.jpg');
                background-position: -1px -1px;
            }

            @include media-max(767px) {
                width: 122px;
                height: 69px;
                top: 6px;
                left: 23px;
                background-image: url('./assets/images/slider/375px/phone_horizontal_display.jpg');
            }
        }
    }
    
    &__shadow {
        width: 100%;
        height: 100%;
        &_vertical {
            @include media-min(1021px) {
                background-image: url('./assets/images/slider/1020px/phone_vertical_shadow.png');
            }

            @include media-max(1020px) {
                background-image: url('./assets/images/slider/768px/phone_vertical_shadow.png');
            }

            @include media-max(767px) {
                background-image: url('./assets/images/slider/375px/phone_vertical_shadow.png');
            }
        }
        &_horizontal {
            @include media-min(1021px) {
                background-image: url('./assets/images/slider/1020px/phone_horizontal_shadow.png');
            }

            @include media-max(1020px) {
                background-image: url('./assets/images/slider/768px/phone_horizontal_shadow.png');
            }

            @include media-max(767px) {
                background-image: url('./assets/images/slider/375px/phone_horizontal_shadow.png');
            }
        }
    }

    &__button {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        position: absolute;

        @include media-max(1020px) {
            width: 32px;
            height: 32px;
        }

        &_vertical {
            bottom: 8px;
            left: 87px;

            @include media-max(1020px) {
                left: 65px;
                bottom: 6px;
            }
        }

        &_horizontal {
            top: 87px;
            left: 8px;

            @include media-max(1020px) {
                top: 65px;
                left: 6px;
            }
        }
    }
}