.footer {
    background-color: $backgroundColor1;
    
    .container {
        padding: 0 40px;
        height: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-max(767px) {
            justify-content: center;
        }
    }

    &__left {
        p {
            font-size: 0.6rem;
            line-height: 0;
            color: $textColor1;
            letter-spacing: -0.2px;
            margin-left: 2px;
        }

        @include media-max(767px) {
            display: none;
        }
    }

    &__social-list {
        display: flex;
    }

    &__social-list-item {
        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }
    }
}