/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  font-size: 20px;
  font-family: "Lato", "Lato-Black", sans-serif;
  color: #767e9e;
  letter-spacing: 0.001px;
}

h1 {
  font-size: 1.25rem;
  font-size-adjust: 0.5;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: "Lato-Black", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666d89;
}

h3 {
  font-size: 0.9rem;
  font-family: "Lato-Black", sans-serif;
  color: #666d89;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.link {
  font-family: 'Lato';
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.01px;
  line-height: 6.32px;
  text-transform: uppercase;
  color: #ffffff;
}

.link:hover {
  color: #f06c64;
}

.link_active {
  color: #f06c64;
}

.button {
  font-family: inherit;
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 400;
  color: #767e9e;
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0 6px 0 6px;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.portfolio {
  background-color: #2d303a;
  padding: 62px 40px 65px 40px;
  border-bottom: 6px solid #323746;
}

.portfolio__top {
  margin-bottom: 17px;
}

.portfolio__top h2 {
  margin-bottom: 27px;
}

.portfolio__top p {
  font-size: 0.9rem;
  font-weight: 300;
}

.portfolio__filter {
  margin-bottom: 19px;
}

.portfolio__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1px;
}

.portfolio__filter-list-item {
  margin-right: 10px;
  line-height: 0.5rem;
}

.portfolio__filter-list-item:first-child button {
  padding-left: 7px;
}

.portfolio__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__projects-list-item {
  margin-right: 20px;
  margin-bottom: 18px;
}

.portfolio__projects-list-item:nth-child(4n) {
  margin-right: 0;
}

.portfolio__projects-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
/*# sourceMappingURL=singolo2.css.map */