/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  font-size: 20px;
  font-family: "Lato", "Lato-Black", sans-serif;
  color: #767e9e;
  letter-spacing: 0.001px;
}

h1 {
  font-size: 1.25rem;
  font-size-adjust: 0.5;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: "Lato-Black", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666d89;
}

h3 {
  font-size: 0.9rem;
  font-family: "Lato-Black", sans-serif;
  color: #666d89;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
}

.link_nav {
  font-family: 'Lato';
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 6.32px;
  text-transform: uppercase;
  color: #ffffff;
}

.link_nav:hover {
  color: #f06c64;
}

.link_nav_active {
  color: #f06c64;
}

.link_project {
  display: block;
  width: 220px;
  height: 187px;
}

.link_project img {
  width: 100%;
  height: 100%;
}

.link_social {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("./assets/images/about-us/Social_Media.png");
}

.link_social_facebook {
  background-position: 0 0;
}

.link_social_google {
  background-position: -40px 0;
}

.link_social_twitter {
  background-position: -80px 0;
}

.link_social_linkedin {
  background-position: -120px 0;
}

.link_social:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.link_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
  line-height: 1.1rem;
}

.link_contacts::before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background: url("./assets/images/get-a-quote/contacs.png") no-repeat;
  margin-right: 10px;
}

.link_contacts_place::before {
  background-position: 0 0;
}

.link_contacts_phone::before {
  background-position: 0 -21px;
}

.link_contacts_email::before {
  background-position: 0 -43px;
}

.link_contacts:hover {
  opacity: 0.5;
}

.button {
  cursor: pointer;
}

.button_filter {
  font-family: inherit;
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 400;
  color: #767e9e;
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0 6px 0 6px;
}

.button_filter:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_filter_active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_submit {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 0.6rem;
  line-height: 1rem;
  color: #f48c8f;
  padding: 5px 15px;
  -webkit-box-shadow: inset 0px 1px 1px 0px #f2f2f2;
          box-shadow: inset 0px 1px 1px 0px #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ca4549), to(#d6564f));
  background: linear-gradient(to bottom, #ca4549 5%, #d6564f 100%);
  background-color: #ca4549;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
  text-shadow: 0px 1px 0px #b23e35;
}

.button_submit:focus {
  outline-width: 0px;
}

.button_submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #d6564f), to(#ca4549));
  background: linear-gradient(to bottom, #d6564f 5%, #ca4549 100%);
  background-color: #d6564f;
}

.button_submit:active {
  position: relative;
  top: 1px;
}

.portfolio {
  background-color: #2d303a;
  padding: 63px 40px 67px 40px;
  border-bottom: 6px solid #323746;
}

.portfolio__top {
  margin-bottom: 17px;
}

.portfolio__top h2 {
  margin-bottom: 27px;
}

.portfolio__top p {
  font-size: 0.9rem;
  font-weight: 300;
}

.portfolio__filter {
  margin-bottom: 19px;
}

.portfolio__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1px;
}

.portfolio__filter-list-item {
  margin-right: 10px;
  line-height: 0.5rem;
}

.portfolio__filter-list-item:first-child button {
  padding-left: 7px;
}

.portfolio__projects {
  height: 601px;
  overflow: hidden;
}

.portfolio__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__projects-list-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.portfolio__projects-list-item:nth-child(4n) {
  margin-right: 0;
}

.about-us {
  padding: 62px 40px 67px 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__top {
  margin-bottom: 45px;
}

.about-us__top h2 {
  margin-bottom: 21px;
}

.about-us__top p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: justify;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__list-item {
  margin-right: 20px;
}

.about-us__list-item:last-child {
  margin-right: 0;
}

.personal-card__photo {
  width: 300px;
  height: 300px;
}

.personal-card__photo img {
  width: 100%;
  height: 100%;
}

.personal-card__info {
  margin-top: 17px;
  margin-bottom: 24px;
}

.personal-card__info h3 {
  margin-bottom: 10px;
}

.personal-card__info p {
  font-size: 0.6rem;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.06px;
}

.personal-card__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-card__social-list-item {
  margin-right: 8px;
}
/*# sourceMappingURL=style.css.map */