/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  font-size: 20px;
  font-family: "Lato", "Lato-Black", sans-serif;
  color: #767e9e;
  letter-spacing: 0.001px;
}

h1 {
  font-size: 1.25rem;
  font-size-adjust: 0.5;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: "Lato-Black", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666d89;
}

h3 {
  font-size: 0.9rem;
  font-family: "Lato-Black", sans-serif;
  color: #666d89;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
}

.link_nav {
  font-family: 'Lato';
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 6.32px;
  text-transform: uppercase;
  color: #ffffff;
}

.link_nav:hover {
  color: #f06c64;
}

.link_nav_active {
  color: #f06c64;
}

.link_project {
  display: block;
  width: 220px;
  height: 187px;
}

.link_project img {
  width: 100%;
  height: 100%;
}

.link_social {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("./assets/images/about-us/Social_Media.png");
}

.link_social_facebook {
  background-position: 0 0;
}

.link_social_google {
  background-position: -40px 0;
}

.link_social_twitter {
  background-position: -80px 0;
}

.link_social_linkedin {
  background-position: -120px 0;
}

.link_social:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.link_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
  line-height: 1.1rem;
}

.link_contacts::before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background: url("./assets/images/get-a-quote/contacs.png") no-repeat;
  margin-right: 10px;
}

.link_contacts_place::before {
  background-position: 0 0;
}

.link_contacts_phone::before {
  background-position: 0 -21px;
}

.link_contacts_email::before {
  background-position: 0 -43px;
}

.link_contacts:hover {
  opacity: 0.5;
}

.button {
  cursor: pointer;
}

.button_filter {
  font-family: inherit;
  font-size: 0.6rem;
  line-height: 1rem;
  font-weight: 400;
  color: #767e9e;
  background-color: #2d303a;
  border: 1px solid #767e9e;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0 6px 0 6px;
}

.button_filter:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_filter_active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_submit {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 0.6rem;
  line-height: 1rem;
  color: #f48c8f;
  padding: 5px 15px;
  -webkit-box-shadow: inset 0px 1px 1px 0px #f2f2f2;
          box-shadow: inset 0px 1px 1px 0px #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ca4549), to(#d6564f));
  background: linear-gradient(to bottom, #ca4549 5%, #d6564f 100%);
  background-color: #ca4549;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
  text-shadow: 0px 1px 0px #b23e35;
}

.button_submit:focus {
  outline-width: 0px;
}

.button_submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #d6564f), to(#ca4549));
  background: linear-gradient(to bottom, #d6564f 5%, #ca4549 100%);
  background-color: #d6564f;
}

.button_submit:active {
  position: relative;
  top: 1px;
}

.get-a-quote {
  color: #f0d8d9;
  padding: 62px 40px 19px 40px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-a-quote__top h2 {
  color: inherit;
  margin-bottom: 21px;
}

.get-a-quote__top p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-align: justify;
}

.get-a-quote__bottom {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get-a-quote__form {
  width: 619px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.get-a-quote__contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 21px;
}

.get-a-quote__information {
  margin-bottom: 20px;
}

.get-a-quote__information h3 {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #f0d8d9;
  margin-bottom: 10px;
}

.get-a-quote__information p {
  font-size: 0.6rem;
  line-height: 1.1rem;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.03px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input, .form__textarea {
  width: 100%;
  color: #f48c8f;
  font-family: inherit;
  font-size: 0.6rem;
  line-height: 1rem;
  border-width: 0px;
  border-radius: 5px;
  padding: 9px 15px;
  background-color: #d6564f;
  margin-bottom: 16px;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #f48c8f;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: #f48c8f;
}

.form__input::placeholder, .form__textarea::placeholder {
  color: #f48c8f;
}

.form__input:focus::-webkit-input-placeholder, .form__textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus:-ms-input-placeholder, .form__textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::-ms-input-placeholder, .form__textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::placeholder, .form__textarea:focus::placeholder {
  color: transparent;
}

.form__input:focus, .form__textarea:focus {
  outline-width: 0px;
  background-color: #ca4549;
}

.form__textarea {
  resize: none;
  height: 202px;
  margin-bottom: 18px;
}

.footer {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
  background-color: #2d303a;
}

.footer__left p {
  font-size: 0.6rem;
  line-height: 0;
  color: #666d89;
  letter-spacing: -0.2px;
  margin-left: 2px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-list-item {
  margin-left: 8px;
}
/*# sourceMappingURL=style.css.map */