$backgroundColor1: #2d303a;
$backgroundColor2: #323746;
$backgroundColor3: #f06c64;
$backgroundColor4: #ca4549;
$backgroundColor5: #ffffff;
$backgroundColor6: #ea676b;
$backgroundColor7: #f2f2f2;
$backgroundColor8: #434759;
$backgroundColor9: #767e9e;
$backgroundColor10: #d6564f;

$textColor1: #666d89;
$textColor2: #767e9e;
$textColor3: #ffffff;
$textColor4: #f06c64;
$textColor5: #f0d8d9;
$textColor6: #f48c8f;