.get-a-quote {
    color: $textColor5;
    background-color: $backgroundColor3;
    border-bottom: 6px solid $backgroundColor6;
    
    .container {
        padding: 62px 40px 19px 40px;
    }

    &__top {
        h2 {
            color: inherit;
            margin-bottom: 21px;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.5rem;
            font-weight: 300;
            text-align: justify;
        }
    }

    &__bottom {
        margin-top: 44px;
        display: flex;
    }

    &__form {
        width: 619px;
        flex-shrink: 0;
    }

    &__contacts {
        flex-grow: 1;
        margin-left: 21px;
    }

    &__information {
        margin-bottom: 20px;
        h3 {
            font-size: 0.9rem;
            line-height: 0.9rem;
            color: $textColor5;
            margin-bottom: 10px;
        }
        p {
            font-size: 0.6rem;
            line-height: 1.1rem;
            font-weight: 400;
            text-align: justify;
            letter-spacing: -0.03px;
        }
    }

    &__links {

    }

    &__links-list {

    }

    &__links-list-item {
    }
}