.button {
    cursor: pointer;

    &_filter {
        font-family: inherit;
        font-size: 0.6rem;
        line-height: 1rem;
        font-weight: 400;
        color: $textColor2;
        background-color: $backgroundColor1;
        border: 1px solid $backgroundColor9;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        padding: 0 6px 0 6px;
        
        &:hover {
            color: $textColor3;
            border: 1px solid $backgroundColor5;
        }

        &_active {
            color: $textColor3;
            border: 1px solid $backgroundColor5;
        }

    }

    &_submit {
        display: flex;
        width: 136px;
        height: 38px;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #886A30;
	    background-color: #FBC65F;
	    border-radius:5px;
	    border-width: 0px;
	    cursor:pointer; 

        &:focus {
            outline-width: 0px;
        }

        &:hover {
            background-color: #ffd37c;;
            
        }
    }

    &_phone {
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
    }

    &_close-popup {
        display: block;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        border: 2px solid $backgroundColor8;
        position: relative;
        overflow: hidden;
        
        &::before, &::after {
            content: "";
            display: inline-block;
            width: 5px;
            height: 31px;
            background-color: $backgroundColor3;
            transform-origin: center center;
            position: absolute;
            top: 4px;
            left: 17px;
            transition: all 0.3s;
        }
        
        &::before {
            transform: rotate(45deg) scale(0.9);
        }
        
        &::after {
            transform: rotate(-45deg) scale(0.9);
        }

        &:hover {
            &::before {
                transform: rotate(45deg) scale(1.1);
            }
            &::after {
                transform: rotate(-45deg) scale(1.1);
            }
        }

        &:focus {
            outline-width: 0;
        }
    }
}